<table class="profile" summary="Profile Information">
	<tr>
		<td class="main">
			<h1> 
				<%= @user.name %> 
			</h1>
		</td>
	<td class="sidebar round">
		<strong>Active Accounts</strong> <br />
	</td>
	</tr>
	
</table>

