<h1>About Us</h1>
<p><dd>Admeld's mission is to keep premium publishers on the cutting edge of advertising technology, enabling them to maximize their revenue and sell their inventory smarter and safer. Our high-tech, high-touch approach generates the maximum yield for every ad impression by giving publishers access to demand from hundreds of sources (ad networks, DSPs, etc.) on their own terms.<br /><br />

Current Admeld customers include NBCUniversal, Answers.com, FOX News, IDG TechNetwork, Discovery, The Weather Channel, and more than 500 others worldwide. Founded in 2007, the company is headquartered in New York City with offices in San Francisco, London, Berlin, and Toronto.</dd></p>
