
<h1>Client Services Dashboard</h1>
<p>The Client Services Dashboard is a data snapshot of the most important information relative to individual accounts, and a homepage with relevant "top" cross-publisher information.</p>

<!-- <%= link_to "Sign up now!", '/signup', :class => "signup_button round" %> -->
<br />
<%= render 'layouts/reports/top_revenue' %> <br />
<%= render 'layouts/reports/top_impressions' %> <br />
<%= render 'layouts/reports/x_pub_totals' %> <br />