<strong>Top 10 Publishers by Filled Impressions - Yesterday</strong><br />
<table>
	<tr>
		<td>1.</td>
		<td>Yontoo</td>
		<td><strong>249,581,124</strong></td>
		<td><strong><font color=green>(41,154,104)</font></strong></td>
	</tr>
	
	<tr>
		<td>2.</td>
		<td>quadrantONE</td>
		<td><strong>36,997,467</strong></td>
		<td><strong><font color=green>(10,044,105)</font></strong></td>	
	</tr>
	
	<tr>
		<td>3.</td>
		<td>Tier 1 News</td>
		<td><strong>31,647,795</strong></td>
		<td><strong><font color=red>(1,105,100)</font></strong></td>
	</tr>
	
	<tr>
		<td>4.</td>
		<td>Altitude Digital</td>
		<td><strong>249,581,124</strong></td>
		<td><strong><font color=green>(41,154,104)</font></strong></td>
	</tr>
	
	<tr>
		<td>5.</td>
		<td>TMZ</td>
		<td><strong>36,997,467</strong></td>
		<td><strong><font color=green>(10,044,105)</font></strong></td>	
	</tr>
	
	<tr>
		<td>6.</td>
		<td>Grooveshark</td>
		<td><strong>31,647,795</strong></td>
		<td><strong><font color=red>(1,105,100)</font></strong></td>
	</tr>	
	
	<tr>
		<td>7.</td>
		<td>Telegraaf Digitale Media</td>
		<td><strong>249,581,124</strong></td>
		<td><strong><font color=green>(41,154,104)</font></strong></td>
	</tr>
	
	<tr>
		<td>8.</td>
		<td>OKCupid</td>
		<td><strong>36,997,467</strong></td>
		<td><strong><font color=green>(10,044,105)</font></strong></td>	
	</tr>
	
	<tr>
		<td>9.</td>
		<td>Animea</td>
		<td><strong>31,647,795</strong></td>
		<td><strong><font color=red>(1,105,100)</font></strong></td>
	</tr>	
	
	<tr>
		<td>10.</td>
		<td>Orange Americans</td>
		<td><strong>31,647,795</strong></td>
		<td><strong><font color=red>(1,105,100)</font></strong></td>
	</tr>
	
	
	
	
	
	
	
	
</table>
	